[Unit]
Description=bot reddit

[Service]
Type=oneshot
WorkingDirectory=~
ExecStart=/usr/bin/python Documents/reddit_bot_revuedepresse.py

[Install]
WantedBy=multi-user.target
