[Unit]
Description=reddit_bot_revuedepresse.service

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/scrap_revuedepresse/
# Without virtualenv
# ExecStart=/usr/bin/python %h/Documents/reddit_bot_revuedepresse/reddit_bot_revuedepresse.py
# With virtualenv
# ExecStart=%h/Documents/reddit_bot_revuedepresse/venv/bin/python %h/Documents/reddit_bot_revuedepresse/reddit_bot_revuedepresse.py
# With pipenv
ExecStart=%h/Documents/reddit_bot_revuedepresse/.venv/bin/python %h/Documents/reddit_bot_revuedepresse/reddit_bot_revuedepresse.py

[Install]
WantedBy=multi-user.target
