[Unit]
Description=bot reddit

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/reddit_bot_revuedepresse/
ExecStart=/usr/bin/python %h/Documents/reddit_bot_revuedepresse/reddit_bot_revuedepresse.py -f liste_journaux.csv

[Install]
WantedBy=multi-user.target
