[Unit]
Description=bot reddit

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/scrap_revuedepresse/
# Without virtualenv
# ExecStart=/usr/bin/python %h/Documents/reddit_bot_revuedepresse/reddit_bot_revuedepresse.py --international
# With virtualenv
# ExecStart=%h/Documents/reddit_bot_revuedepresse/venv/bin/python %h/Documents/reddit_bot_revuedepresse/reddit_bot_revuedepresse.py --international
# With pipenv
ExecStart=/usr/bin/pipenv run python %h/Documents/reddit_bot_revuedepresse/reddit_bot_revuedepresse.py --international

[Install]
WantedBy=multi-user.target
