[Unit]
Description=Run the revuedepresse script daily

[Timer]
#OnBootSec=15min
#OnUnitActiveSec=1d
OnCalendar=*-*-* 08:32:00

[Install]
WantedBy=timers.target
